<!DOCTYPE html>
<html>
  <head>
    <title>EmptyChairs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  <script type="text/javascript">
  window.nyc = "<%= image_url('carmines.jpg') %>";
  </script>

  <%= favicon_link_tag asset_path('emptychairsfavicon.png') %>

  <meta property="og:title" content="Empty Chairs" />
     <meta property='og:image' content="<%= image_url('emptychairsthumb.png') %>"/>

     <meta property="og:description"
       content="A web app inspired by OpenTable, where users browse restaurants and make reservations"
     />
     <meta property="og:url"
       content="https://emptychairs.herokuapp.com/#/"
     />

  </head>

  <body>
    <%= yield %>
  </body>
</html>
